@import "../../mixin";

.section-guest{
  width: calc(100% - 300px);
  padding: 10px;
  border-left: 1px dashed #fff;
  @include sp{
    width: 100%;
  }
  > .guests{
    > table{

      > thead,tbody{
        > tr{
          &.-disActive{
            opacity: 0.3;
          }
          th,td{
            padding: 5px;
            line-height: 1.6em;
          }
        }
      }
    }
    > .noGuest{
      padding: 30px;
      text-align: center;
    }
  }
}
