.App {
  padding: 10px;
  color: #fff;
  > h2{
    font-size: 30px;
    & + .guests{
      margin-top: 10px;
    }
  }
  > .guests{
    > ul{
      > li{
        font-size: 26px;
        & + li{
          margin-top: 5px;
        }
      }
    }
    & + h2{
      margin-top: 30px;
    }
  }
}

